@import url(//db.onlinewebfonts.com/c/1bb28440d44596129c2c67bb9f94eae3?family=Bauhaus+Hv+BT);
*{
    font-family: 'Manrope';
}
body{
    background-color: #3d087b;
}
#clockimg{
    position: absolute;
    top: 34px;
    left: 124px;
    width: 204px;
    height: 77px;
}

.transparent{
    position: absolute;
    width: 379px;
    height: 130px;
    top: 67px;
    left: 785px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
}

.mildtransparent{
    position: absolute;
    top: 55px;
    left: 766px;
    width: 416px;
    height: 130px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.71;
}

.mainblock_time{
    position: absolute;
    top: 42px;
    left: 706px;
    width: 536px;
    height: 130px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    background-color: #FFFFFF;
    
}

.insideblock{
    position: relative;
    left: 39px;
    right: 39px;
    width: 458px;
    height: 90px;
    top: 20px;
    bottom: 20px;
    display: flex;
    column-gap: 8px;
    
}

.box{
    width: 80px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/timeline.svg);
    
}
.box-time{
    background-image: none;
    font-size: 20px;
    font-weight: 900;
    color: #3D087B;
}
.box-colon{
    position: relative;
    width: 4.21px;
    height: 22.41px;
    font-size: 36px;
    top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.am-pm{
    background-image: url(assets/AM_svg.svg);
}

.digit{
    font-size: 36px;
    letter-spacing: 0px;
    color: #8A11BF;
}
.text{
    font-size: 23px;
    letter-spacing: 0px;
    color: #5F0089;
}

.am-pm{
    font-size: 36px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.quote{
    width: 536px;
    height: 118px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    position: absolute;
    top: 212px;
    left: 706px;
}
.quote-text{
    position: relative;
    top: 40px;
    bottom: 40px;
    left: 20px;
    right: 20px;
    font-family: 'Manrope';
    font: normal normal 900 28px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #8E53F0;
    text-align: left;
    
}
/* 
#dropdown{
    position: relative;
    top: 14px;
    left: 261px;
    width: 281px;
    height: 45px;
}

#dropdown:hover{
    cursor: pointer;
} */

.alarmcontainer{
    position: absolute;
    top: 149px;
    left: 124px;
    width: 566px;
    height: 363px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}

.wakeup{
    position: relative;
    left: 25px;
    top: 14px;
    
}

#wakesvg,#lunchsvg{
    width: 34px;
    height: 34px;
}

.wakeup-text,.lunch-text,.naptime-text,.nighttime-text{
    position: relative;
    bottom: 11px;
    left: 21px;
    font: normal normal normal 18px/28px 'Manrope';
    letter-spacing: 0px;
    color: #3D087B;
    height: 23px;
    font-weight: bold;
    width: 141px;
}

#dropdown-wakeup,#dropdown-lunch,#dropdown-naptime,#dropdown-nighttime{
    position: relative;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    bottom: 11px;
    left: 40px;
    width: 281px;
    height: 45px;
    letter-spacing: 0.25px;
    color: #3D087BDE;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
option{
    font-size: 15px;
    font-weight: bold;
}

.lunch{
    position: relative;
    width: 517px;
    height: 45px;
    left: 25px;
    top: 54px;
}
#dropdown-lunch{
    position: relative;
    left:62px
}

.naptime{
    position: relative;
    width: 517px;
    height: 45px;
    top: 98px;
    left: 25px;
}

#dropdown-naptime{
    position: relative;
    left: 79px;
}
.nighttime{
    position: relative;
    width: 517px;
    height: 45px;
    top: 150px;
    left: 25px;
}

#dropdown-nighttime{
    left: 65px;
}

.greetings{
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
        
    top: 527px;
    left: 124px;
    width: 566px;
    height: 77px;
}
.greetings-text{
    position: absolute;
    text-align: left;
    font: normal normal 900 27px/34px Bauhaus Hv BT;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    top: 549px;
    left: 149px;
        
}
.setalarm{
    position: absolute;
    top: 624px;
    left: 124px;
    width: 299px;
    height: 50px;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
    text-align: left;
    font: normal normal 600 24px/38px Manrope;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;

}

.setalarm:hover{
    cursor: pointer;
    
}
.setalarm:active {
    transform: translateY(2px);
  }
.imgcontainer{
    position: relative;
    top: 345px;
    left: 702px;
}

.alarmdetails{
    position: absolute;
    top: 615px;
    left: 437px;
    width: 253px;
    height: 117px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 0.23;
}
.alarmdetails-text{
    position: absolute;
    top: 625px;
    left: 449px;
    width: 200px;
    height: 94px;
    text-align: left;
    font: normal normal bold 13px Manrope;
    letter-spacing: 0px;
    color: #F25CFE;
    opacity: 1;
    
}
p{
    margin: 5px;
}

